<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading | async"></mat-progress-bar>

<section>
    <p class="lead">Use the form below to calculate exchange rate predictions for your desired currency</p>
</section>

<div class="row">
    <section>
        <exf-forecast-form [currencies]="currencies" (submitForm)="getRates($event)"></exf-forecast-form>
    </section>
    <section class="chart-wrapper" [ngClass]="{'updating': (loading | async)}">
        <exf-chart *ngIf="rates && formData" [data]="rates" [form]="formData"></exf-chart>
        <mat-spinner *ngIf="loading | async" color="accent" diameter="50"></mat-spinner>
    </section>
</div><!-- /.row -->
<p *ngIf="target">
    <small>Today's value in {{target.currency.name}}s</small><br>
    {{target.currency.symbol}}{{target.amount | mask: 'comma_separator'}}
</p>
<p *ngIf="bestBet">
    <small>Your best bet is:</small><br>
    {{bestBet.date}}<br>
    Your {{formData.amount}} {{formData.base.name}} would be {{bestBet.amount}} {{target.currency.name}}
</p>
