<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading | async"></mat-progress-bar>

<section>
    <p>Use the form below to calculate exchange rate prediction for your desired currency</p>
</section>

<section>
    <mat-card>
        <mat-card-title>Exchange Form</mat-card-title>
        <mat-card-content>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error praesentium inventore rem libero
            consequuntur, aspernatur necessitatibus, corrupti odio soluta adipisci blanditiis accusamus pariatur
            sequi beatae voluptatum eos facilis veritatis modi.
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button color="primary">
                See the Future
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</section>
