<mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading | async"></mat-progress-bar>

<section>
    <p class="lead">Use the form below to calculate exchange rate predictions for your desired currency</p>
</section>

<div class="row">
    <section>
        <exf-forecast-form [currencies]="currencies" (submitForm)="getRates($event)"></exf-forecast-form>
    </section>
    <section>
        <exf-chart *ngIf="rates && formData" [data]="rates" [form]="formData"></exf-chart>

    </section>
</div><!-- /.row -->
<h2 *ngIf="target">
    <small>Today's value in {{target.currency.name}}s</small><br>
    {{target.currency.symbol}}{{target.amount | mask: 'comma_separator'}}
</h2>
