html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
    // background-color: #eee;
    // border: 1px solid red;
    position: relative;
    section {
        padding: 1rem;
    }
}

mat-toolbar {
    font-weight: 100 !important;
}